.wrapper{
    height: 100vh;
}
.arrow{
    width: 50px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 25px);
    animation: arrowDown 2s infinite;
}
.arrow.two{
    opacity: 0;
    animation-delay: 1s;
}
@keyframes arrowDown {
    0%{
        bottom: 20px;
        opacity: 1;
    }

    100%{
        bottom: 0;
        opacity: 0;
    }
}